.qr_scanner_block{
	width: 152px!important;
	height: 152px!important;
	margin: 0 auto;
	border:1px solid #bababa;
	border-radius: 5px;
}
.scan_result{
	margin: 0;
	padding-block: 6px;
	margin-top: 16px;
	border-bottom: 1px solid #dadada;
}
.scan_title{
	text-align: center;
}