*{box-sizing: border-box;}
body{
	font-family: sans-serif;
	padding-top: 40px;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding-inline: 20px;

}
.qrcode-block-wrapper{
	display: flex;
	width: 300px;
	flex-direction: column;
	gap:16px;
}
.form-item{
	position: relative;
	
}
.form-item input{
	width: 100%;
	
	display: block;
	height: 48px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 5px;
	border:1px solid #bababa;
}
.btn{
	display: inline-block;
	height: 50px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
	
	color: white;
	font-family:sans-serif;
	background-color: rgb(52, 52, 138);
}
.qr-content{
	display:flex;
	justify-content: center;
	padding-top: 80px;
}
.page-nav{
	display: flex;
	justify-content: center;
	
}
.page-nav-item{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #1b1b1b;
	padding-block: 12px;
	padding-inline:24px;
	border: 1px solid transparent;
	border-bottom: 1px solid #dedede;
	border-radius: 5px 5px 0 0;
	height: 40px;
}
.page-nav-item.page-nav-item--active{
	color:rgb(21, 57, 204);
	text-shadow: .5px .5px rgb(21, 57, 204);
	border: 1px solid #dedede;
	border-bottom-color: transparent;
}
.hist-wrapper{
	width: 100%;
}
.hist-list{
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	gap: 50px;
	
}
.hist-item{
	width: fit-content;
	min-width: 300px;
	display: flex;
	column-gap:30px;
	align-items: center;
	padding-block:15px;
}
.hist-item{border-bottom:1px solid #dadada}
.hist-item svg{
	flex-shrink: 0;
}
.hist-item p{
	font-size: 20px;
	font-weight: 700;
	min-width: 100px;
}