*{box-sizing: border-box;}
body{
	font-family: sans-serif;
}
h1, h2, h3, h4, p, ul, ol{
	margin: 0;padding: 0;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding-inline: 20px;

}
.header{
	padding-block: 12px;
	text-align: center;
	background-color: #f7f7f7;
	margin-bottom: 16px;
	.h1{font-size: 28px;}
}
.qrcode-block-wrapper{
	display: flex;
	width: 330px;
	flex-direction: column;
	gap:16px;
}
.form-item{
	position: relative;
	
}
.form-label{
	font-size: 13px;
	margin-bottom: .5em;
	display: block;
}
.form-item input{
	width: 100%;
	
	display: block;
	height: 48px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 5px;
	border:1px solid #bababa;
}
.btn{
	display: inline-block;
	height: 50px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
	
	color: white;
	font-family:sans-serif;
	background-color: rgb(52, 52, 138);
}
.qr-content{
	display:flex;
	justify-content: center;
	padding-top: 40px;
}
.page-nav{
	display: flex;
	justify-content: center;
	@media (max-width: 767px) {
		justify-content: flex-start;
		width: calc(50% + 50vw);
		overflow: hidden;
		overflow-x: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar{display: none;}
	}
}
.page-nav-item{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #1b1b1b;
	padding-block: 12px;
	padding-inline:24px;
	border: 1px solid transparent;
	border-bottom: 1px solid #dedede;
	border-radius: 5px 5px 0 0;
	height: 40px;

	@media (max-width: 767px) {
	 padding-inline:12px;
	 white-space: nowrap;
	}
}
.page-nav-item.page-nav-item--active{
	color:rgb(21, 57, 204);
	text-shadow: .5px .5px rgb(21, 57, 204);
	border: 1px solid #dedede;
	border-bottom-color: transparent;
}
.hist-wrapper{
	width: 100%;
}
.hist-list{
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	gap: 40px;
	@media (max-width: 767px) {
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 0;
	}
	
}
.hist-item{
	width: fit-content;
	width: calc(50% - 20px);
	 max-width: 330px;
	display: flex;
	column-gap:30px;
	align-items: center;
	padding-block:15px;
	
	
	@media (max-width: 1023px) {
	  min-width: 220px;
	  
	  column-gap:15px;
	}
	@media (max-width: 767px) {
	width: 100%;
	 max-width: 330px;
	 
	}
}
.hist-item{border-bottom:1px solid #dadada}
.hist-item svg{
	flex-shrink: 0;
	width: 80px!important;
	height: 80px!important;
	@media (max-width: 767px) {
	width: 50px!important;
	height: 50px!important;
	}
}
.hist-item p{
	font-size: 20px;
	font-weight: 700;
	min-width: 100px;
	@media (max-width: 1023px) {
	font-size: 18px;
	}
	@media (max-width: 767px) {
	font-size: 14px;
	}
}