*{box-sizing: border-box;}
body{
	font-family: sans-serif;
	padding-top: 40px;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding-inline: 20px;

}
.qrcode-block-wrapper{
	display: flex;
	width: 300px;
	flex-direction: column;
	gap:16px;
}
.form-item{
	position: relative;
	
}
.form-item input{
	width: 100%;
	
	display: block;
	height: 48px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 5px;
	border:1px solid #bababa;
}
.btn{
	display: inline-block;
	height: 50px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 18px;
	
	color: white;
	font-family:sans-serif;
	background-color: rgb(52, 52, 138);
}
.qr-content{
	display:flex;
	justify-content: center;
	padding-top: 80px;
}
.page-nav{
	display: flex;
	column-gap: 40px;
	justify-content: center;
}
.page-nav a{
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	color: #1b1b1b;

}